{% extends '_base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">User Profile</h1>
    <p class="lead">This is a profile information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space  container.</p>
    <h2>{{ user.get_full_name }}</h2>
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Location: {{ user.profile.location }}</li>
      <li>Birth Date: {{ user.profile.birth_date }}</li>
    </ul>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Change Profile</a>
    </p>
  </div>

{% endblock content %}